<div class="rounded border border-2 border-dark m-4 p-4">



    <div class="row">
        <div class="col-3">
            <div class="form-group form-inline">
                <label for="selectPageSize1">Page Size</label>
                <select id="selectPageSize1" class="form-select form-control" (change)="onSelectChange($event.target.value)">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option selected value="10">10</option>
                </select>
            </div>
        </div>
        <div class="col-9">
            <nav>
                <ul class="pagination">
                    <li class="page-item"><button class="page-link"
                        (click)="previous()">Previous</button></li>

                    <li *ngFor="let item of pageNumbers" class="page-item">
                        <button class="page-link"
                            (click)="pageChanged(item)">{{item}}</button>
                    </li>

                    <li class="page-item"><button class="page-link"
                        (click)="next()">Next</button></li>
                </ul>
            </nav>
        </div>
    </div>







</div>